#style-switcher {
	background-color: #fff;
	width: 162px;
	position:fixed;
	top: 222px;
	z-index: 99999;
	border-radius: 0 0 3px 0;
	left: -163px;
	border: 1px solid #e4e4e4;
	border-left: 0;
	border-top: 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
	outline: none;
	padding-bottom: 10px;
	 -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#style-switcher.open { left: -1px; }

#style-switcher div {
	padding: 3px 18px 5px 18px;
}

#style-switcher h2 {
	background-color: #F5F5F5;
	color: #23A657;
	outline: none;
	font-weight: bold;
	font-size: 16px;
	padding: 0 0 0 13px;
	margin:0;
	line-height: 43px;
}


#style-switcher h2 a {
	background-color: #F5F5F5;
	display: block;
	outline: none;
	height: 43px;
	position: absolute;
	right: -43px;
	font-size:18px;
	text-align:center;
	color:#23A657;
	top: 0;
	width: 43px;
	text-decoration:none;
	border-radius: 0 3px 3px 0;
	line-height: 46px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08);
}

#style-switcher ul {
    list-style:none;
    margin:0;
    padding:0 0 0 10px;
}

#style-switcher ul li{
    display:block;
    width: 40px;
    height: 40px;
    margin:10px 10px 0 0;
    float:left;
    border-radius:5px;
	cursor:pointer;
}

#style-switcher ul li#green{
    background:#23A657;
}
#style-switcher ul li#blue{
    background:#2DAFF0;
}
#style-switcher ul li#orange{
    background:#FFA500;
}

#products {
	text-align: center;
}
.item {
    width: 100%;
    height: 260px;
    display: block;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 4px;
}
.item-1 {
    background-image: url(../img/Integra_2.jpg);
}
.item-2 {
    background-image: url(../img/confort_2.jpg);
}
.item-3 {
    background-image: url(../img/gerencial_dukon_0003_prv.jpg);
}
.item-4 {
    background-image: url(../img/Almacenero_puertas_batientes.jpg);
}
.item-5 {
    background-image: url(../img/Almaceneros_puertas_corredizas.jpg);
}
.item-6 {
    background-image: url(../img/Credenza_porta_documentos.jpg);
}
.item-7 {
    background-image: url(../img/Credenza_mixta_larga.jpg);
}
.item-8 {
    background-image: url(../img/Almaceneros_puertas_corredizas.jpg);
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.item:hover .item-add-content {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.item-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item-content {
    background: rgba(255,255,255,.85);
}
.item-top-content {
    position: relative;
}
.item-add-content {
    font-weight: 400;
    color: #808080;
}
.item-top-content-inner {
    position: absolute;
    bottom: 0;
    padding: 10px 15px 10px 15px;
    background: rgba(255,255,255,.95);
    width: 100%;
}
.item-product {
    width: 70%;
    float: left;
}
.item-product-price {
    font-size: 1em;
    font-weight: 700;
    position: relative;
	width: 30%;
	float: right;
	text-align: right;
}
.item-top-title {
    text-align: left;
}
.item-top-title h5 {
    color: #404040;
    font-weight: 700;
    margin: 0;
    font-size: 17px;
}
.subdescription {
    font-size: 14px;
    font-weight: bold;
    color: #7d7d7d;
    margin-bottom: 0;
}
.green-text {
    color: #34d293;
}
.item-product-price .subdescription {
    color: #808080;
}
.old-price {
    border: 0 solid #808080;
    border-bottom-width: 1px;
    margin-top: -11px;
    width: 30px;
    position: absolute;
    right: -2px;
    bottom: 10px;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.item-add-content {
    font-weight: 400;
    color: #808080;
	padding: 0 15px 15px 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item-add-content-inner {
    border: 0px solid #dadada;
    border-top-width: 1px;
    padding-top: 10px;
}
.item-add-content .section {
    margin-bottom: 10px;
}
.item-add-content p {
    font-size: 14PX;
}
.item-add-content .section:last-of-type {
    margin-bottom: 0;
}
.custom-button {
    display: inline-block !important;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border-radius: 4px;
    margin: 10px;
    border: none;
}
.red-btn, .green-btn, .blue-btn, .yellow-btn {
    color: #FFF;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.red-btn {
	background: #e96656;
}
.green-btn {
	background: #20AA73;
}
.blue-btn {
	background: #3ab0e2;
}
.yellow-btn {
	background: #E7AC44;
}


/* */
.img-thumbnail { border-radius: 0 }
code { border-radius: 0 }
pre { border-radius: 0 }
.form-control { border-radius: 0; box-shadow: none; webkit-box-shadow: none }
.form-control:focus {
    border-color: gray;
    -webkit-box-shadow: none;
    box-shadow: none
}
.input-sm { border-radius: 0 }
.input-lg { border-radius: 0 }
.btn { border-radius: 0 }
.btn-lg { border-radius: 0 }
.btn-sm,
.btn-xs { border-radius: 0 }
.dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.btn-group-xs > .btn { border-radius: 0 }
.btn-group-sm > .btn { border-radius: 0 }
.btn-group-lg > .btn { border-radius: 0 }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 0 }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-bottom-left-radius: 0 }
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn { border-radius: 0 }
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-lg > .input-group-btn > .btn { border-radius: 0 }
.input-group-addon { border-radius: 0 }
.input-group-addon.input-sm { border-radius: 0 }
.input-group-addon.input-lg { border-radius: 0 }
.nav-tabs > li > a { border-radius: 0 }
.nav-pills > li > a { border-radius: 0 }
@media (min-width: 768px) {
    .navbar { border-radius: 0 }
}
.navbar-toggle { border-radius: 0 }
.navbar-toggle .icon-bar { border-radius: 0 }
.breadcrumb { border-radius: 0 }
.pagination { border-radius: 0 }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.pager li > a,
.pager li > span { border-radius: 0 }
.label { border-radius: 0 }
.badge { border-radius: 0 }
.container .jumbotron { border-radius: 0 }
.thumbnail { border-radius: 0 }
.alert { border-radius: 0 }
.progress {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.list-group-sub .list-group-item:focus {
    background: transparent;!important
}
.panel {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.panel-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.panel-group .panel { border-radius: 0 }
.well {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.well-lg { border-radius: 0 }
.well-sm { border-radius: 0 }
.close { text-shadow: none }
.modal-content {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
@media screen and (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}
.tooltip-inner { border-radius: 0 }
.popover {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
.popover-title { border-radius: 0 }
.carousel-control { text-shadow: none }
.carousel-indicators li { border-radius: 0 }
.carousel-caption { text-shadow: none }

.btn:active,.btn:focus,a:active,a:focus{outline: 0}
.no-border-right{border-right: 0!important}
.no-border-left{border-left: 0!important}
.no-padding{padding: 0!important}
.hero-spacer {margin-top: 50px}
.hero-feature{margin-bottom: 30px}
select{border:1px solid #ddd;padding:3px}
.green{ color: green }
.red{ color: red }
.main-container{
    padding-top: 20px;
    background: #fff;
    /*box-shadow: 0 0 7px #384248*/
}
.slider{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
}
ul.bxslider {
    list-style: none;
}
.bx-wrapper {
    box-shadow: 0 0 0 1px #ddd
}
.bx-wrapper img {
    width: 100%;
}
.bx-viewport {
    max-height: 500px!important;
}
.input-search{
    position: relative;
    z-index: 1;
}
.btn-group-cart,.btn-group-cart .btn{
    width: 100%;
}
.btn-group-cart .btn{
    text-align: center;
}
.btn-group-cart .dropdown-menu{
    z-index: 1001;
    left: inherit;
    right: 0;
}
.btn-group-cart .icon-cart{
    margin-right: 5px;
}
ul.cart-content{
    min-width: 250px;
}
ul.cart-content b{
    font-weight: normal;
    display: block;
    font-family: 'DroidSansRegular';
    /*font-size: 16px;*/
    color: #428BCA;
}
.link-p{
    display: block;
    min-height: 250px;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.first-p{
    min-height: 169px;
}
.def-img{
    position: inherit!important;
    width: auto!important;
    height: inherit!important;
    max-width: inherit!important;
    max-height: inherit!important;
    left: inherit!important;
    top: inherit!important;
}
.prod-caption{
    background: #fbfbfb;
    border-top: 1px solid #ddd;
}
.prod-caption h4{
    font-size: 16px;
    height: 40px;
    overflow: hidden;
}
span.title{
    display: block;
    font-size: 20px;
    border-bottom: 3px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}
.thumbnail:hover{
    border: 1px solid gray;
}
.catalogue-pagination{
    margin: 0;
    margin-bottom: 40px;
}
.catalogue-pagination li.disabled:hover a{
    cursor: default;
}
.catalogue-pagination li a{
    -ms-transition: all 100ms ease-in-out 0s ;
    -moz-transition: all 100ms ease-in-out 0s ;
    -webkit-transition: all 100ms ease-in-out 0s ;
    -o-transition: all 100ms ease-in-out 0s ;
    transition: all 100ms ease-in-out 0s ;
    padding: 6px 10px;
}
.back-top{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    background: #384248;
    color: #fff;
    height: 23px;
}
.back-top:hover, .back-top:focus, .back-top:active{
    color: #fff;
}
.back-top:hover{
    -ms-transition: all 100ms ease-in-out 0s ;
    -moz-transition: all 100ms ease-in-out 0s ;
    -webkit-transition: all 100ms ease-in-out 0s ;
    -o-transition: all 100ms ease-in-out 0s ;
    transition: all 100ms ease-in-out 0s ;
    background: #263238;
}
.tbl-cart thead{
    background: #f8f8f8
}
.tbl-cart .td-qty{
    white-space: normal !important;
    width: 130px;
}
.btns-cart .btn{
    margin-right: 3px;
    margin-bottom: 1px;
}
.tbl-checkout tbody tr td:nth-child(odd){
    background: #f8f8f8;
}
.input-qty-detail .bootstrap-touchspin{
    float: left;
    margin-right: 5px;
    width: 130px;
}

.product-thumb-image{ padding: 2px }
.product-main-image, .product-thumb-image .thumbnail{ margin-bottom: 0 }
/*.product-main-image{ cursor: zoom-in; cursor: -webkit-zoom-in; cursor: -moz-zoom-in }*/
.product-main-image-container{ position: relative }
.product-loader{
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
    width: 60px;
    height: 9px
}
.product-short-detail label{ font-weight: normal }
.product-short-detail .col-xs-8:before{
    margin-right: 3px;
    content: ':'
}
.the-list{
    float: left;
    margin: 10px 0;
    width: 100%
}
.the-list h3{ margin: 0 }
.the-list select{
    display: inline;
    width: auto
}
.input-qty-detail .bootstrap-touchspin{
    float: left;
    margin-right: 5px;
    margin-bottom: 1px;
    width: 130px
}
.add-to-detail a{
    color: #333;
    font-size: 12px
}
.product-detail-tab .nav-tabs a:focus, .product-detail-tab .nav-tabs a:active{ outline: 0 }
.product-detail-tab .well{
    border-top: 0;
    background: #fff
}
#detail table tr td:first-child, .comparison tbody tr td:first-child, .compare-product{ background: #f8f8f8 }
.comparison{ text-align: center }
.comparison tbody tr td:first-child{ text-align: left }
.product-rating {
    margin-top: 5px;
    color: #FFCC00;
    font-size: 12px
}
.media a.pull-left:hover{ text-decoration: none }
#review .media{ padding-bottom: 10px }
.tbl-cart .td-qty{ width: 130px }
.tbl-cart label{ font-weight: inherit }
.tbl-cart thead{ background: #f8f8f8 }
.login-form { max-width: 380px; margin-top: 10px }
.login-form .panel{
    border: 1px solid #ddd;
    background-color: #fff;
}
.btn-login-social{ width: 30px }
@media (min-width: 992px) {
    .product-detail{ float: right }
}
.white-container {
    position: relative;
    padding: 15px;
    background-color: #fff;
}
.list-group-submenu {
    margin-left:20px;
}
.panel-cat {
    border: 0
}
.panel-cat > a {
    background: #f5f5f5
}
.panel-cat i.fa-caret-down {
    margin-left: 10px
}
.panel-cat .list-group-sub > a {
    padding-left: 25px
}
.panel-cat .list-group-sub a:last-child {
    border-bottom: 0
}
.panel-cat .list-group-sub:last-child a:last-child {
    border-bottom: 1px solid #ddd
}