@media (max-width: 1199px ) {
	.logo-marca {
		position: static;
	}
	.breadcrumb {
		margin-bottom: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header-links li {
		padding-left: 2px;
		padding-right: 2px;
	}

	#main-menu-wrap {
		top: 70px;
	}

	/* Products Section Styles Starts */
	#product-carousel .thumbnail .product-zoom {
		top: -23%;
	}
	#product-carousel .thumbnail:hover .product-zoom {
		top: 23%;
	}
	#product-carousel .carousel-control.left {
		left: -30px;
	}
	#product-carousel .carousel-control.right {
		right: -30px;
	}
}

@media (min-width: 768px) {
	.visso-list .thumbnail .caption {
		top: 35%;
		display: block;
	}
}
/* Small Devices Styles Starts */
@media (min-width: 768px) and (max-width: 991px) {

	.header-links li {
		padding-left: 2px;
		padding-right: 2px;
	}

	/* Navigation Styles Starts */
	#main-menu-wrap {
		top: 60px;
	}
	#nav.navbar-default {
		padding: 0;
	}

	/* Brand Logo Styles Starts */
	#nav .navbar-header {
		position: relative;
	}
	#nav .navbar-brand {
		height: auto;
		padding: 6px 0
	}
	#nav .navbar-brand span.mid {
		padding-left: 2px;
		font-family: 'Rochester', cursive;
		font-size: 42px;
		text-transform: lowercase;
	}
	#nav .navbar-brand span.last {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-style: italic;
	}

	/* Products Section Styles Starts */
	#product-carousel .carousel-control.left {
		left: -30px;
	}
	#product-carousel .carousel-control.right {
		right: -30px;
	}
}
/* Extra Small Devices Styles Starts */
@media (max-width: 767px) {

	/* Top Bar Styles Starts */
	.top-bar {
		display: none;
	}
	#sliders {
		max-height: inherit;
	}
	.links-socials {
		margin-top: 0;
		margin-bottom: 10px;
		margin-left: 12px;
		width: 100%;
	}
	.breadcrumb {
		margin-top: 50px;
	}
	/*.visso-list .thumbnail .caption {
		top: 0% !important;
		display: block;
	}*/
	#main-menu-wrap {
		top: 50px;
	}
	#nav.navbar-default {
		border-radius: 5px;
	}
	#nav .navbar-nav > li > a {
		padding-top: 10px;
	}
	#nav.navbar-default .navbar-toggle {
		margin-top: 26px;
		border-color: #fff;
		background: none;
		margin-right: 0
	}
	#nav.navbar-default .navbar-toggle span {
		background-color: #fff;
	}
	#nav.navbar-default .navbar-toggle:hover {
		background-color: #fff;
		border-color: #fff;
	}
	#nav.navbar-default .navbar-toggle:hover span {
		background-color: #de4b39;
	}
	#nav.navbar-default .navbar-collapse {
		margin-top: 10px;
		border-color: #ffdfdb;
	}

	/* About Section Styles Starts */
	.about-banners .img-responsive {
		margin-left: auto;
		margin-right: auto;
	}

	/* Products Section Styles Starts */

	#product-carousel .thumbnail .product-zoom {
		top: -23%;
	}
	/*#product-carousel .thumbnail:hover .product-zoom {
		top: 23%;
	}*/
	#product-carousel .carousel-control.left {
		left: 0;
	}
	#product-carousel .carousel-control.right {
		right: 0;
	}
}