@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu.woff') format('woff'), url('../fonts/Ubuntu.ttf')  format('truetype'), url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #fff url('../images/bg_body.jpg') no-repeat fixed;
	background-size: cover;
	color: #6e6e6e;
	font: 14px/26px 'Ubuntu', Helvetica, sans-serif;
}
a {
	color: #252424;
}
.container {
	position: relative;
}
.breadcrumb a {
	font-weight: bold
}
.breadcrumb li {
	text-transform: capitalize;
}
#body-content {
	min-height: calc(100vh - 148px);
}
#sliders {
	overflow: hidden;
	max-height: 570px;
	margin-top: 40px;
}
#img-partners {
	width: 270px;
}
ul.navbar-right {
	font-size: 16px
}
a:hover,
a:focus {
	color: #fdc800;
}
a:focus { outline: none; }

/* Heading Styles Starts */
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
.nav .open>a:hover, .nav .open>a {
	background-color: transparent !important;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
 }

/* Form & Buttons Styles Starts */

.btn-default {
	color: #373737;
	background-color: #f4f4f4;
	border-color: #d3d3d3;
}
.btn-secondary {
	background-color: #fdc800;
	font-size: 14px;
	color: #f7f7f7;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active {
	color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #996630;
}
.btn-transparent {
	padding: 10px 25px !important;
	background-color: rgba(255, 255, 255, 0) !important;
	border: 1px solid #fdc800 !important;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active {
	background-color: rgba(255, 255, 255, 1) !important;
	color: #fdc800;
}
.btn-secondary,
.btn-transparent {
	text-transform: uppercase;
}

/* Header Styles Starts */

.main-header {
	position: relative;
}

/* Top Bar Styles Starts */

.top-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #fdc800;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10001;
}

/* Header Links Styles Starts */

.header-links {
	margin: 0;
}
.header-links li,
.header-links li a {
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}
.header-links {
	text-transform: uppercase;
}

/* Currency & Languages Drop Down Styles Starts */

.top-bar .btn-link {
	margin-top: -2px;
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.top-bar .open .btn-link {
	color: #d89956;
}
.top-bar .btn-link i.fa {
	margin-left: 5px;
}

/* Search Styles Starts */
.search .input-group {
	border-bottom: 1px solid #6c6c6c;
}
.search .input-group .form-control {
	width: 95%;
	font-size: 14px;
}
.search .input-group .btn {
	margin-top: -8px;
}
.search .input-group .form-control,
.search .input-group .btn {
	padding: 0;
	color: #fff;
	font-size: 14px;
	height: auto;
	line-height: normal;
	background: none;
	border: none;
}
.search .input-group .form-control::-webkit-input-placeholder {
	color: #fff;
}
.search .input-group .form-control::-moz-placeholder {
	color: #fff;
}

/* Cart Style Starts */

#cart .btn-default {
	padding: 0;
	text-align: right;
	background: none;
	border: none;
	color: #fff;
}
	#cart .btn .fa-shopping-cart {
		margin-right: 4px;
		font-size: 18px;
		color: #fdc800;
		vertical-align: 2px;
	}
	#cart .btn span {
		font-size: 14px;
		text-transform: uppercase;
		vertical-align: super;
	}
	#cart .btn span.cart-total {
		text-transform: capitalize;
	}
	#cart .btn i.fa-chevron-down {
		margin-left: 2px;
		font-size: 10px;
		vertical-align: text-top;
	}
	#cart .dropdown-menu {
		margin-top: 10px;
		padding: 10px;
	}
	#cart .dropdown-menu p:last-of-type {
		margin-bottom: 0;
	}

/* Navigation Styles Starts */

#main-menu-wrap {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	z-index: 9999;
}
	#main-menu {
		position: relative;
		z-index: 1000;
	}
	#main-menu-wrap.sticky-nav {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #252424;
	}
	#main-menu-wrap .navbar {
		margin-bottom: 0;
	}
	#nav.navbar-default {
		padding: 0 20px;
		background-color: #252424;
		border: none;
		text-transform: uppercase;
	}
	#nav .navbar-nav > li > a {
		padding: 22px 10px 18px;
		color: #fff;
	}
	#nav .navbar-nav > li > a:hover,
	#nav .navbar-nav > li.current > a {
		color: #FEC800;
	}
	.links-socials {
		font-size: 12px;
		margin-left: 10px;
		margin-top: 15px;
	}
	.links-socials a, .links-socials .fa-inverse {
		color: #FEC800;
		text-decoration: none;
	}

	/* Brand Logo Styles Starts */
	#nav .navbar-header {
		position: relative;
	}
	#nav .navbar-brand {
		height: auto;
		padding-top: 8px;
		padding-bottom: 0;
		padding-left: 0;
	}
	#nav .navbar-brand span.mid {
		padding-left: 2px;
		font-size: 48px;
		text-transform: lowercase;
	}
	#nav .navbar-brand span.last {
		font-weight: 300;
		font-style: italic;
	}

/* Slider Styles Starts */
#slider {
	position: relative;
	overflow: hidden;
	margin-top: 58px;
}

/* About Section Styles Starts */
.about {
	background-color: #f7f7f7;
	color: #6e6e6e;
}
.about .content {
	padding-left: 15%;
	padding-right: 15%;
}
.about-banners {
	margin-top: 30px;
}
.about-banners .img-responsive {
	margin-top: 10px;
	max-height: 280px;
}
.about-banners a {
	text-decoration: none;
}
.about-banners h4 {
	color: #333
}

/* Products Section Styles Starts */
.products {
	overflow: hidden;
}
.visso-list .thumbnail {
	padding: 0;
	position: relative;
	overflow: hidden;
}
	.visso-list .thumbnail ul.btn-list {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.visso-list .thumbnail ul.btn-list li + li {
		margin-top: 10px;
	}
	.visso-list .thumbnail .caption {
		padding: 0;
		width: 100%;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		bottom: 8px;
	}
	.visso-list .thumbnail .caption .product-details {
		padding: 6px 0px;
		text-transform: uppercase;
	}

	#quadrifoglio .visso-list .thumbnail .caption {
		background: rgba(53, 86, 32, 0.68);
	}
	#visso .visso-list .thumbnail .caption {
		background: rgba(255, 198, 9, 0.6);
	}

	/* Contact Section Styles Starts */
	.contact .status {
		display: none;
	}
	.contact-form-area {
		margin-top: 55px;
	}
	.contact .form-control {
		padding-top: 10px;
		padding-bottom: 10px;
		color: #2c2c2c;
		border-color: #c4c4c4;
	}
	.contact input.form-control {
		height: 42px;
	}
	.contact .btn-secondary {
		margin-top: 20px;
		padding-left: 25px;
		padding-right: 25px;
	}

/* Google Map Area Starts */
.map {
	height: 400px;
}

/* Footer Styles Starts */
.main-footer {
	margin-top: 40px;
	margin-bottom: 30px;
}

/* Generic Styles Starts */
.no-border-radius,
.visso-list .thumbnail,
.btn-default,
.btn-secondary {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.no-boxshadow {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.clearance .thumbnail,
.visso-list .thumbnail {
	border: none;
}
.btn-transparent,
.visso-list .thumbnail {
	visibility: hidden;
}

/* Starts */
.about,
.products,
.contact {
	position: relative;
}
.products {
	padding-top: 80px;
	padding-bottom: 0px;
}
.contact > .rotate-box-1 {
	background-color: #f7f7f7;
}
.products > .rotate-box-1 {
	top: -60px;
}

.heading-title{
	display: block;
	margin-bottom: 20px;
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
}

.heading-title h2{
	display: inline;
	padding: 10px 0 8px;
	font-size: 22px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 1px solid #FEC800;
}

.heading-title h2 span{
	font-weight: 700;
}

/*#product-single .home-product-item{
	padding: 10px;
	border: 1px solid transparent;
	overflow: hidden;
}

#product-single .home-product-item:hover{
	border: 1px solid #e6e6e6;
}

.product-single{
	padding: 15px;
	margin-bottom: 20px;
	background: #f1f1f1;
	overflow: hidden;
}

.product-single img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/
.content-detail{
	margin-bottom: 20px;
	margin-top: 20px;
}

.content-detail .nav-tabs{
	border-bottom-color: #f1f1f1;
}

.content-detail .nav-tabs > li > a {
	margin-right: 2px;
	border: 1px solid #FDC72E;
	background: #FDC72E;
	border-radius: 0;
	color: #fff;
}

.content-detail .nav-tabs > .active > a,
.content-detail .nav-tabs > .active > a:hover,
.content-detail .nav-tabs > .active > a:focus {
	background: #f1f1f1;
	border: 1px solid #f1f1f1;
	color: #333;
}

.content-detail .tab-content{
	padding: 20px;
	background: #f1f1f1;
}
.product-item{
	position: relative;
}

.product-item .caption h5{
	font-weight: 600;
	font-size: 16px;
    line-height: 20px;
    border-top: 2px solid #333;
    margin-top: 10px;
    padding-top: 10px;
}

.product-item .caption .product-item-price{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.single-desc .btn {
    margin-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #515151;
    border-color: #444;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #222;
}
.product-hover {
	background-color: rgba(0, 0, 0, 0.45);
	color: #fff;
	left: 0;
	padding: 12px 0;
	position: absolute;
	right: 0;
	top: 40%;
}
.middle-info {
	background-color: #E4E4E4;
	margin-top: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.middle-info h2 {
	font-size: 3em;
	background: url('../images/equis.png') no-repeat left top;
	margin-left: 9%;
	padding-left: 41px;
	text-align: left;
	margin-bottom: 0
}
.product-item a {
	display: inline-block;
	height: 170px;
	overflow: hidden;
}
.thumbnail {
	border: 2px solid #FEC800;
	background-color: transparent;
}
.product-details strong {
	color: #fff;
	display: inline-block;
	font-size: 1.1em;
	padding-left: 26px;
}
#quadrifoglio .product-details strong {
	background: url('../images/logotipo-quadri.png') no-repeat 0px 0px;
}
#visso .product-details strong {
	background: url('../images/logotipo-visso-sm.png') no-repeat 0px 0px;
}
#sliders .col-sm-4, .visso-list .col-sm-4 {
	padding: 0 8px;
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb>li+li:before {
	color: #999
}
.logo-marca {
	left: 12px;
	margin-bottom: 20px;
	position: absolute;
	top: 60px;
}
#marca-quadrifoglio {
	text-align: center;
}
#marca-quadrifoglio .col-sm-4 {
	float: none;
	display: inline-block;
}
h2.product-title {
	color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	margin: 0 0 20px;
}
h2.product-title div {
	display: inline-block;
	padding: 10px 0;
}
#visso h2.product-title {
	background-color: rgba(255, 198, 9, 0.75);
}
#visso h2.product-title > div {
	background: url('../images/logotipo-visso.png') no-repeat -2px 8px;
	padding-left: 30px;
}

#aresline h2.product-title, #aresline .btn-visso {
	background-color: rgba(0, 0, 0, 0.68);
}
#aresline h2.product-title > div {
	background: url('../images/logotipo-aresline-alt.png') no-repeat 0px 8px;
	padding-left: 40px;
}

#quadrifoglio h2.product-title, #quadrifoglio .btn-visso {
	background-color: rgba(53, 86, 32, 0.68);
}
#quadrifoglio h2.product-title > div {
	background: url('../images/logotipo-quadri-alt.png') no-repeat 0px 5px;
	padding-left: 40px;
}
.btn-visso {
	background-color: rgba(255,182,0,0.78);
	border-radius: 0;
	color: #fff;
	font-family: helvetica;
	font-weight: bold;
	padding: 5px 10px;
}
.product-desc {
	color: #000000;
	font-weight: 600;
	line-height: 1.6em;
}
.img-size {
	background-color: #fff;
	min-height: 500px;
}
.pright-0 {
	padding-right: 0;
}
.item-products {
	padding: 5px;
	outline: none;
}
.item-products img {
	cursor: pointer;
}
.cat-name {
	margin-bottom: 15px;
}
.cat-name > div {
	background: rgba(0, 0, 0, 0.68) url('../images/logotipo-visso-alt.png') no-repeat 26px 9px;
	color: #fff;
	display: inline-block;
	padding: 6px 70px 6px 50px;
	text-transform: uppercase;
}
#aresline .cat-name > div {
	background-image: url('../images/logotipo-aresline.png');
	background-position: 18px 9px;
}
#quadrifoglio .cat-name > div {
	background-image: url('../images/logotipo-quadri.png');
	background-position: 21px 7px;
}
.mb10 {
	margin-bottom: 10px
}
.no-float .col-sm-4, .center-blocks {
	float: none;
	display: inline-block;
}
.txt-others {
	font-family: helvetica;
	font-weight: bold;
}
#quadrifoglio .txt-others  {
	color: #355620;
}
.item-products img:hover, .detail-product-selected  {
	outline: 2px solid black;
}
#quadrifoglio .item-products img:hover, #quadrifoglio .detail-product-selected {
	outline: 2px solid rgba(53,86,32, 1);
}
#visso .item-products img:hover, #visso .detail-product-selected {
	outline: 2px solid #FEC800;
}
.fix-vertical-center {
	margin-top: 20%
}
.footer-top-area {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #4a4a4a;
}
.newsletter-block h4, .social-media-block h4 {
	margin-top: 7px;
	color: #fff;
	text-transform: uppercase;
}
.social-media-block ul.sm-links {
	margin: 2px 0 0;
}
.social-media-block ul.sm-links li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.social-media-block ul.sm-links li {
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: #DC263F;
	text-align: center;
}
.social-media-block ul.sm-links li a {
	font-size: 20px;
	color: #fff;
}
.social-media-block ul.sm-links li + li {
	margin-left: 10px;
}
.fix-checkbox {
	margin-top: 6px !important;
}
.checkbox label {
	color: #fff !important
}
#about-info {
	color: #000;
}
#about-info h2 {
	font-size: 1.9em;
	padding: 10px 0;
}
#about-info ol {
	margin-bottom: 30px;
}
#about-info ol > li {
	padding-bottom: 13px
}
#about-info ol ul {
	margin-top: 10px;
}
.lead-info {
	line-height: 1.3em
}
.txt-quadri-about {
	color: #2B5240;
}
.txt-aresline-about {
	color: #727272;
}
.logotipo-in-about {
	background: url(../images/logotipo-visso-alt.png) 50% 50% no-repeat;
	display: inline-block;
	height: 24px;
	width: 24px;
}