/* Large Devices Styles Starts */

@media (min-width: 1200px) {

/* Footer Top Area Styles Starts */

	.newsletter-block .form-control,
	.newsletter-block .btn-secondary {
		padding: 10px 20px;
	}
	.social-media-block ul.sm-links li + li {
		margin-left: 10px;
	}

}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {

/* Header Links Styles Starts */

	.header-links li {
		padding-left: 2px;
		padding-right: 2px;
	}

/* Navigation Styles Starts */

	#main-menu-wrap {
		top: 70px;
	}

/* Slider Styles Starts */

	#camera_wrap_1 .camera_caption {
		bottom: 35%;
		left: 13%;
	}
		#camera_wrap_1 .camera_caption h1 {
			font-size: 40px;
		}
		#camera_wrap_1 .camera_caption h5 {
			line-height: 26px;
		}

/* Products Section Styles Starts */

		#product-carousel .thumbnail .product-zoom {
			top: -23%;
		}
		#product-carousel .thumbnail:hover .product-zoom {
			top: 23%;
		}
		#product-carousel .carousel-control.left {
			left: -30px;
		}
		#product-carousel .carousel-control.right {
			right: -30px;
		}

/* Footer Top Area Styles Starts */

	.newsletter-block .form-control,
	.newsletter-block .btn-secondary {
		padding: 10px 13px;
	}
	.social-media-block ul.sm-links li + li {
		margin-left: 4px;
	}

}

/* Small Devices Styles Starts */

@media (min-width: 768px) and (max-width: 991px) {

/* Header Links Styles Starts */

	.header-links li {
		padding-left: 2px;
		padding-right: 2px;
	}

/* Navigation Styles Starts */

	#main-menu-wrap {
		top: 60px;
	}
		#nav.navbar-default {
			padding: 0 10px;
		}
			#nav .navbar-nav > li > a {
				padding-top: 30px;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 15px;
			}

/* Brand Logo Styles Starts */

	#nav .navbar-header {
		position: relative;
	}
	#nav .navbar-brand {
		height: auto;
	}
		#nav .navbar-brand {
			padding-top: 6px;
			font-family: 'Roboto Slab', serif;
			font-size: 20px;
			font-weight: bold;
			color: #fff;
			line-height: 24px;
		}
			#nav .navbar-brand span.mid {
				padding-left: 2px;
				font-family: 'Rochester', cursive;
				font-size: 42px;
				text-transform: lowercase;
			}
			#nav .navbar-brand span.last {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				font-style: italic;
			}

/* Slider Styles Starts */

	#camera_wrap_1 .camera_caption {
		bottom: 2%;
		left: 13%;
	}
		#camera_wrap_1 .camera_caption h1 {
			font-size: 30px;
			line-height: 42px;
		}
		#camera_wrap_1 .camera_caption h5 {
			font-size: 22px;
			line-height: 24px;
		}
		#camera_wrap_1 .camera_caption .btn-transparent {
			margin-top: 20px;
			padding: 8px 20px !important;
			font-size: 18px !important;
		}

/* Products Section Styles Starts */

		#product-carousel .carousel-control.left {
			left: -30px;
		}
		#product-carousel .carousel-control.right {
			right: -30px;
		}

/* Footer Top Area Styles Starts */

	.newsletter-block {
		margin-bottom: 25px;
	}
		.newsletter-block .form-control,
		.newsletter-block .btn-secondary {
			padding: 10px 13px;
		}
		.newsletter-block h4,
		.social-media-block h4 {
			margin-bottom: 15px;
		}
		.newsletter-block h4,
		.social-media-block h4,
		.social-media-block ul.sm-links {
			text-align: center;
		}
		.social-media-block ul.sm-links li + li {
			margin-left: 8px;
		}

/* Footer Styles Starts */

	.footer-boxes > div {
		min-height: 250px;
	}

}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {

/* Top Bar Styles Starts */

.top-bar {
	display: none;
}

/* Header Links Styles Starts */

	.header-links {
	}

/* Currency & Languages Drop Down Styles Starts */

	.top-bar .btn-group {
		float: right;
	}

/* Search Styles Starts */

	.search {
		margin-top: 10px;
	}

/* Cart Style Starts */

	#cart .btn-default {
		margin-top: 10px;
	}

/* Navigation Styles Starts */

	#main-menu-wrap {
		top: 50px;
	}
		#nav.navbar-default {
			border-radius: 5px;
		}
		#nav .navbar-nav > li > a {
			padding-top: 10px;
		}
		#nav.navbar-default .navbar-toggle {
			margin-top: 26px;
			border-color: #fff;
			background: none;
		}
		#nav.navbar-default .navbar-toggle span {
			background-color: #fff;
		}
		#nav.navbar-default .navbar-toggle:hover {
			background-color: #fff;
			border-color: #fff;
		}
		#nav.navbar-default .navbar-toggle:hover span {
			background-color: #de4b39;
		}
		#nav.navbar-default .navbar-collapse {
			margin-top: 10px;
			border-color: #ffdfdb;
		}

/* Slider Styles Starts */

	#camera_wrap_1 .camera_prev,
	#camera_wrap_1 .camera_next {
		top: 240px;
	}
	#camera_wrap_1 .camera_commands {
		display: none;
	}

/* About Section Styles Starts */

.about-banners .img-responsive {
	margin-left: auto;
	margin-right: auto;
}

/* Products Section Styles Starts */

		#product-carousel .thumbnail .product-zoom {
			top: -23%;
		}
		#product-carousel .thumbnail:hover .product-zoom {
			top: 23%;
		}
		#product-carousel .carousel-control.left {
			left: 0;
		}
		#product-carousel .carousel-control.right {
			right: 0;
		}

/* Recent Articles Section Styles Starts */

	.recent-articles .content-box {
		text-align: center;
	}
		.recent-articles .content-box .img-responsive {
			margin-left: auto;
			margin-right: auto;
		}
		.recent-articles .content-box > .row .img-responsive {
			margin-top: 30px;
		}
		.recent-articles .content-box + .content-box > .row .img-responsive {
			margin-top: 0;
			margin-bottom: 30px;
		}

/* Clearance Sale Section Styles Starts */

	.clearance h4 {
		text-align: center;
	}
	.clearance .col-md-8 h4:first-of-type {
		margin-top: 50px;
	}
	.clearance .col-md-8 h4 {
		margin-top: 30px;
	}
		.clearance .col-sm-4 .thumbnail {
			margin-bottom: 30px;
		}
		.clearance .col-sm-4:last-of-type .thumbnail {
			margin-bottom: 0;
		}

/* Footer Top Area Styles Starts */

	.newsletter-block {
		margin-bottom: 25px;
	}
		.newsletter-block .form-control,
		.newsletter-block .btn-secondary {
			padding: 10px 12px;
		}
		.newsletter-block h4,
		.social-media-block h4 {
			margin-bottom: 15px;
		}
		.newsletter-block h4,
		.social-media-block h4,
		.social-media-block ul.sm-links {
			text-align: center;
		}
		.social-media-block ul.sm-links li + li {
			margin-left: 8px;
		}

/* Footer Styles Starts */

	.footer-boxes {
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer-boxes > div:nth-child(2) {
		border-width: 0 1px;
	}
	.copyright {
		text-align: center;
	}
	.copyright .pull-right {
		margin-top: 10px;
	}
	.copyright .pull-left,
	.copyright .pull-right {
		float: none !important;
	}

}