body {
	font: 14px/26px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #6e6e6e;
	background: #fff;
}

body, html{
	height: 100%;
	position: relative;
}

/* Standard Styles Starts */

/*a { color: #fdc800; }*/
a:hover,
a:focus {
	color: #fdc800;
}
a:focus { outline: none; }

/* Heading Styles Starts */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

/* Typography Styles Starts */

.btn-default,
.btn-secondary,
.btn-transparent,
.top-bar,
#main-menu-wrap,
.search .input-group .form-control,
#cart .btn-default,
.clearance .thumbnail .caption-big .content .price,
.clearance #countdown,
.testimonial,
.shopping-cart-table thead > tr > td,
.shopping-cart-table tbody > tr > td.product-name,
.shopping-cart-table tbody > tr > td.price,
.main-footer {
	font-family: 'Roboto Condensed', sans-serif;
}

/* Form & Buttons Styles Starts */

.btn-default {
	color: #373737;
	background-color: #f4f4f4;
	border-color: #d3d3d3;
}
.btn-secondary {
	background-color: #fdc800;
	font-size: 14px;
	color: #f7f7f7;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-transparent,
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active {
	color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #996630;
}
.btn-transparent {
	padding: 10px 25px !important;
	background-color: rgba(255, 255, 255, 0) !important;
	border: 1px solid #fdc800 !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}
.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active {
	background-color: rgba(255, 255, 255, 1) !important;
	color: #fdc800;
}
.btn-secondary,
.btn-transparent {
	text-transform: uppercase;
}

/* Header Styles Starts */

.main-header {
	position: relative;
}

/* Top Bar Styles Starts */

.top-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #fdc800;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10001;
}

/* Header Links Styles Starts */

	.header-links {
		margin: 0;
	}
	.header-links li,
	.header-links li a {
		font-size: 12px;
		color: #fff;
		font-weight: 600;
	}
	.header-links {
		text-transform: uppercase;
	}

/* Currency & Languages Drop Down Styles Starts */

	.top-bar .btn-link {
		margin-top: -2px;
		padding-top: 0;
		padding-bottom: 0;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
	}
	.top-bar .open .btn-link {
		color: #d89956;
	}
		.top-bar .btn-link i.fa {
			margin-left: 5px;
		}

/* Search Styles Starts */

.search {
}
	.search .input-group {
		border-bottom: 1px solid #6c6c6c;
	}
	.search .input-group .form-control {
		width: 95%;
		font-size: 14px;
	}
	.search .input-group .btn {
		margin-top: -8px;
	}
	.search .input-group .form-control,
	.search .input-group .btn {
		padding: 0;
		color: #fff;
		font-size: 14px;
		height: auto;
		line-height: normal;
		background: none;
		border: none;
	}
	.search .input-group .form-control::-webkit-input-placeholder {
		color: #fff;
	}
	.search .input-group .form-control::-moz-placeholder {
		color: #fff;
	}

/* Cart Style Starts */

#cart .btn-default {
	padding: 0;
	text-align: right;
	background: none;
	border: none;
	color: #fff;
}
	#cart .btn .fa-shopping-cart {
		margin-right: 4px;
		font-size: 18px;
		color: #fdc800;
		vertical-align: 2px;
	}
	#cart .btn span {
		font-size: 14px;
		text-transform: uppercase;
		vertical-align: super;
	}
	#cart .btn span.cart-total {
		text-transform: capitalize;
	}
	#cart .btn i.fa-chevron-down {
		margin-left: 2px;
		font-size: 10px;
		vertical-align: text-top;
	}
	#cart .dropdown-menu {
		margin-top: 10px;
		padding: 10px;
	}
	#cart .dropdown-menu p:last-of-type {
		margin-bottom: 0;
	}

/* Navigation Styles Starts */

#main-menu-wrap {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	z-index: 9999;
}
	#main-menu {
		position: relative;
		z-index: 1000;
	}
	#main-menu-wrap.sticky-nav {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #252424;
	}
	#main-menu-wrap .navbar {
		margin-bottom: 0;
	}
	#nav.navbar-default {
		padding: 0 20px;
		background-color: #252424;
		border: none;
		text-transform: uppercase;
	}
	#nav .navbar-nav > li > a {
		padding-top: 22px;
		color: #fff;
		font-size: 16px;
	}
	#nav .navbar-nav > li > a:hover,
	#nav .navbar-nav > li.current > a {
		color: #FEC800;
	}
	.links-socials {
		font-size: 12px;
		margin-left: 20px;
		margin-top: 15px;
	}
	.links-socials a, .links-socials .fa-inverse {
		color: #FEC800
	}

/* Brand Logo Styles Starts */
	#nav .navbar-header {
		position: relative;
	}
	#nav .navbar-brand {
		height: auto;
	}
		#nav .navbar-brand {
			padding-top: 6px;
			font-family: 'Roboto Slab', serif;
			font-size: 24px;
			font-weight: bold;
			color: #fff;
			line-height: 28px;
		}
			#nav .navbar-brand span.mid {
				padding-left: 2px;
				font-family: 'Rochester', cursive;
				font-size: 48px;
				text-transform: lowercase;
			}
			#nav .navbar-brand span.last {
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				font-style: italic;
			}

/* Slider Styles Starts */
#slider {
	position: relative;
	overflow: hidden;
	margin-top: 58px;
}
	#camera_wrap_1 .camera_caption {
		bottom: 40%;
		left: 15%;
		width: 100%;
		background-color: rgba(0, 0, 0, .5);
	}
		#camera_wrap_1 .camera_caption > div {
			background:none;
			color: #FEC800;
			text-shadow: 2px -1px 1px #000000;
		}
		#camera_wrap_1 .camera_caption h1 {
			text-transform: uppercase;
			font-weight: bold;
			line-height: 58px;
		}
		#camera_wrap_1 .camera_caption hr {
			margin-left: 20%;
			margin-right: 20%;
			border-top-width: 4px;
		}
		#camera_wrap_1 .camera_caption .btn-transparent {
			margin-top: 30px;
			font-size: 24px;
			color: #fdc800
		}
	#camera_wrap_1 .camera_prev,
	#camera_wrap_1 .camera_next {
		background: #fdc800;
	}
	#camera_wrap_1 .camera_prev:hover,
	#camera_wrap_1 .camera_next:hover {
		background: #996630;
	}

/* Section Area Styles Starts */

.section-area {
	padding-top: 70px;
	padding-bottom: 70px;
}
	.section-area h2 {
		margin-top: 0;
		margin-bottom: 40px;
		color: #333;
		text-transform: uppercase;
		text-align: center;
	}
		/*.section-area h2 span {
			padding-bottom: 10px;
			border-bottom: 2px solid #fdc800;
		}*/
	.section-area.inverse h2 {
		color: #fff;
	}
		.section-area.inverse h2 span {
			border-color: #fff;
		}

/* About Section Styles Starts */

.about {
	background-color: #f7f7f7;
	color: #6e6e6e;
}
.about .content {
	padding-left: 15%;
	padding-right: 15%;
}
.about-banners {
	margin-top: 30px;
}
.about-banners .img-responsive {
	margin-top: 10px;
	max-height: 280px;
}
.about-banners a {
	text-decoration: none;
}
.about-banners h4 {
	color: #333
}

/* Products Section Styles Starts */

.products {
	overflow: hidden;
}
	#product-carousel {
	}
		#product-carousel .item {
			padding-left: 10px;
			padding-right: 10px;
		}
			#product-carousel .thumbnail {
				margin-top: 20px;
				padding: 0;
				position: relative;
				overflow: hidden;
			}
			#product-carousel .thumbnail:hover {
				-webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
				   -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
				        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
			}
				#product-carousel .thumbnail ul.btn-list {
					position: absolute;
					top: 15px;
					right: 15px;
				}
					#product-carousel .thumbnail ul.btn-list li + li {
						margin-top: 10px;
					}
				#product-carousel .thumbnail .product-zoom {
					position: absolute;
					font-size: 36px;
					color: #fff;
					top: -30%;
					left: 45%;
				}
				#product-carousel .thumbnail:hover .product-zoom {
					top: 30%;
					left: 45%;
					text-shadow: 2px 2px 7px #000;
				}
				#product-carousel .thumbnail .caption {
					padding: 0;
					width: 100%;
					position: absolute;
					background: rgba(0, 0, 0, 0.5);
					-webkit-transform: translateY(150px);
					   -moz-transform: translateY(150px);
					        transform: translateY(150px);
				}
				#product-carousel .thumbnail:hover .caption {
					top: 35%;
					display: block;
					-webkit-transform: translateY(0);
					   -moz-transform: translateY(0);
					        transform: translateY(0);
				}
					#product-carousel .thumbnail .caption .product-details {
						padding: 25px 20px;
						text-transform: uppercase;
					}
					#product-carousel .thumbnail .caption .product-details .product-heading {
						margin: 4px 0 0;
						float: left;
						color: #111;
					}
					#product-carousel .thumbnail .caption .product-details .price {
						margin: 0;
						float: right;
						text-align: right;
					}
						#product-carousel .thumbnail .caption .product-details .price-old {
							margin-right: 5px;
							color: #6d6d6d;
							font-style: italic;
							font-size: 18px;
							text-decoration: line-through;
						}
						#product-carousel .thumbnail .caption .product-details .price-new {
							color: #fdc800;
							font-weight: bold;
						}
						#product-carousel .thumbnail .caption .product-details .btn {
							margin-top: 15px;
						}
		#product-carousel .carousel-control.left {
			left: -60px;
		}
		#product-carousel .carousel-control.right {
			right: -60px;
		}
		#product-carousel .carousel-control.left,
		#product-carousel .carousel-control.right {
			width: auto;
			font-size: 35px;
			top: 47%;
			opacity: 1;
			background: none;
			color: #fdc800;
			text-shadow: none;
		}

/* Recent Articles Section Styles Starts */

.recent-articles {
	background-image: url(../images/recent-articles-bg.jpg);
}
	.recent-articles .content-box {
		margin-top: 20px;
		padding: 20px;
		background-color: #fff;
	}
	.recent-articles .content-box + .content-box {
		margin-top: 47px;
	}
		.recent-articles .content-box h3 {
			margin-top: 30px;
			margin-bottom: 20px;
			padding-bottom: 10px;
			text-transform: uppercase;
			border-bottom: 2px solid #fdc800;
		}
		.recent-articles .content-box h3,
		.recent-articles .content-box h3 a,
		.recent-articles .content-box .read-more {
			color: #fdc800;
		}
		.recent-articles .content-box > .row h3 {
			margin-top: 0;
		}
		.recent-articles .content-box p {
			color: #333;
			line-height: 22px;
		}
		.recent-articles .content-box .read-more {
			text-decoration: underline;
			font-weight: bold;
		}
		.recent-articles .content-box .read-more:hover {
			color: #333;
		}
		.recent-articles .content-box p,
		.recent-articles .content-box .read-more {
			font-style: italic;
		}

/* Clearance Sale Section Styles Starts */

.clearance {
}
	.clearance h4 {
		margin-bottom: 20px;
		color: #fdc800;
		text-transform: uppercase;
	}
	.clearance .thumbnail {
		margin-bottom: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
	}
		.clearance .thumbnail .caption-big,
		.clearance .thumbnail .caption {
			position: absolute;
			background: rgba(30, 30, 30, 0.5);
			color: #fff;
		}
		.clearance .thumbnail .caption-big {
			width: 90%;
			left: 5%;
			bottom: 5%;
		}
			.clearance .thumbnail .caption-big .content {
				padding: 15px;
			}
				.clearance .thumbnail .caption-big .content h5 {
					margin: 0 0 10px 0;
				}
				.clearance .thumbnail .caption-big .content .price {
					font-size: 24px;
					font-weight: bold;
				}
					.clearance .thumbnail .caption-big .content .price span.price-old {
						font-size: 18px;
						color: #d9d9d9;
					}
		.clearance .thumbnail .caption {
			padding: 0;
			width: 100%;
			bottom: 0;
		}
			.clearance .thumbnail .caption h5 {
				margin: 0;
				padding: 10px 15px;
			}
		.clearance #countdown {
			margin-bottom: 0;
		}
			.clearance #countdown li {
				margin-left: 5px;
				margin-top: 10px;
				padding: 5px 10px;
				color: #2d2d2d;
				background-color: #fff;
			}
			.clearance #countdown li + li {
				margin-left: 10px;
			}
			.clearance #countdown li span:first-of-type {
				padding-right: 5px;
				color: #fdc800;
			}

/* Testimonial Section Styles Starts */

.testimonial {
	background-image: url(../images/testimonial-bg.png);
}
	.testimonial h2 {
		margin-bottom: 20px;
		font-size: 100px;
	}
	.testimonial h2,
	.testimonial h4,
	.testimonial p {
		color: #fff;
	}
	#quote-carousel blockquote {
		margin-top: 0;
		font-size: 18px;
		border: none;
		text-align: center;
	}
		#quote-carousel p {
			line-height: 26px;
		}
		#quote-carousel h4 {
			margin-top: 30px;
			font-weight: bold;
		}
	#quote-carousel .carousel-control {
		background: none;
	}
		#quote-carousel a.carousel-control,
		#quote-carousel a.carousel-control:hover {
			color: #2c2c2c;
		}
	#quote-carousel .carousel-indicators {
		right: 50%;
		bottom: -25px;
	}
		#quote-carousel .carousel-indicators li {
			width: 14px;
			height: 14px;
			margin-right: 5px;
			background: #2c2c2c;
			border-color: #2c2c2c;
		}
		#quote-carousel .carousel-indicators .active {
			width: 16px;
			height: 16px;
			background: #fff;
			border-color: #fff;
		}

/* Checkout Section Styles Starts */

.checkout {
}
	.checkout hr {
		border-color: #d4d4d4;
	}
	.checkout h4 {
		margin-bottom: 30px;
		padding-bottom: 10px;
		color: #fdc800;
		text-transform: uppercase;
		border-bottom: 1px solid #d4d4d4;
	}
	.checkout h4.no-border {
		margin-bottom: 20px;
		padding-bottom: 0;
		border: none;
	}
	.checkout .form-control {
		padding-top: 8px;
		padding-bottom: 8px;
		color: #8b8b8b;
		background-color: #fff;
		border-color: #ddd;
		height: 42px;
	}
	.checkout .form-inline .form-group {
		margin-left: 8px;
	}
	.checkout .form-inline .form-group:first-of-type {
		margin-left: 0;
	}
	.shopping-cart-table-area {
	}
		.shopping-cart-table {
			background-color: #fff;
		}
			.shopping-cart-table thead > tr {
				background-color: #f3f3f3;
			}
			.shopping-cart-table thead > tr > td {
				border-bottom: none;
				font-size: 15px;
				font-weight: bold;
				color: #4b4b4b;
			}
			.shopping-cart-table thead > tr > td,
			.shopping-cart-table tbody > tr > td {
				border-color: #e8e8e8 !important;
			}
			.shopping-cart-table tbody > tr > td {
				vertical-align: middle;
			}
			.shopping-cart-table tbody > tr > td img.img-responsive {
				margin-left: auto;
				margin-right: auto;
			}
			.shopping-cart-table tbody > tr > td.product-name,
			.shopping-cart-table tbody > tr > td.product-name a {
				color: #191919;
				font-size: 16px;
			}
			.shopping-cart-table tbody > tr > td.price {
				color: #fdc800;
				font-size: 24px;
				font-weight: bold;
			}
			.shopping-cart-table tbody > tr > td .btn-no-border {
				background: none;
				border: none;
				color: #999;
			}
			.shopping-cart-table tbody > tr > td .btn-no-border:hover {
				color: #996630;
			}
	.shipment-info {
	}
	.payment-method {
	}
	.coupon-code {
	}
	.shipping-taxes {
	}
	.total-summary {
	}
		.total-summary .dl-horizontal {
		}
			.total-summary .dl-horizontal dt {
				color: #252a2f;
				font-weight: normal;
			}
			.total-summary .dl-horizontal dd {
				margin-bottom: 10px;
				color: #fdc800;
				font-weight: bold;
			}
			.total-summary .dl-horizontal dd:last-of-type {
				margin-bottom: 0;
			}
			.total-summary .dl-horizontal dt,
			.total-summary .dl-horizontal dd {
				text-align: right;
			}
			.total-summary .dl-horizontal.total dt,
			.total-summary .dl-horizontal.total dd {
				color: #fdc800;
				font-size: 18px;
			}
		.total-summary .dl-horizontal.total {
			margin-bottom: 30px;
		}
		.total-summary .btn-default {
			margin-left: 10px;
			text-transform: uppercase;
		}
	.shopping-cart-table-area,
	.shipment-info,
	.payment-method,
	.coupon-code,
	.shipping-taxes,
	.total-summary {
		margin-bottom: 40px;
	}

/* Contact Section Styles Starts */

.contact {
	background-color: #f7f7f7;
}
	.contact .status {
		display: none;
	}
	.contact-form-area {
		margin-top: 55px;
	}
	.contact .form-control {
		padding-top: 10px;
		padding-bottom: 10px;
		color: #2c2c2c;
		border-color: #c4c4c4;
	}
	.contact input.form-control {
		height: 42px;
	}
	.contact .btn-secondary {
		margin-top: 20px;
		padding-left: 25px;
		padding-right: 25px;
	}

/* Google Map Area Starts */

.map {
	height: 400px;
}

/* Footer Top Area Styles Starts */

.footer-top-area {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #4a4a4a;
}
	.newsletter-block {
	}
		.newsletter-block h4,
		.social-media-block h4 {
			margin: 7px 0 0;
			color: #fff;
			text-transform: uppercase;
		}
		.newsletter-block .input-group {
		}
			.newsletter-block .form-control {
				background-color: #f7f7f7;
				color: #2c2c2c;
				height: 42px;
				line-height: none;
			}
	.social-media-block {
	}
		.social-media-block ul.sm-links {
			margin: 2px 0 0;
		}
			.social-media-block ul.sm-links li {
				width: 36px;
				height: 36px;
				line-height: 36px;
				background-color: #fdc800;
				text-align: center;
			}
			.social-media-block ul.sm-links li:hover {
				background-color: #996630;
			}
				.social-media-block ul.sm-links li a {
					font-size: 20px;
					color: #fff;
				}

/* Footer Styles Starts */

.main-footer {
	background-color: #373737;
	color: #fff;
}
	.footer-boxes {
		margin-top: 40px;
		margin-bottom: 10px;
	}
		.footer-boxes > div {
			padding: 0 20px 10px;
			border: 1px solid #6d6d6d;
			color: #bbb;
			font-style: italic;
		}
		.footer-boxes h2 {
			color: #fff;
			margin-bottom: 0;
		}
		.footer-boxes h4 {
			color: #fdc800;
			font-weight: 300;
		}
	.foot-brand-logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}
		.foot-brand-logo li.brand {
			margin-bottom: 20px;
			font-family: 'Roboto Slab', serif;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.foot-brand-logo li.brand span.mid {
			padding-left: 2px;
			font-family: 'Rochester', cursive;
			font-size: 48px;
			text-transform: lowercase;
		}
		.foot-brand-logo li.brand span.last {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-style: italic;
		}
		.foot-brand-logo li + li {
			margin-top: 3px;
		}
		.foot-brand-logo li a {
			color: #fff;
		}
	.copyright {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #6d6d6d;
		font-size: 13px;
	}
	.copyright ul {
		margin-bottom: 0;
	}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.no-border-radius,
.search .input-group .form-control,
.search .input-group .btn,
#cart .dropdown-menu,
.clearance .thumbnail,
#product-carousel .thumbnail,
.checkout .form-control,
.newsletter-block .form-control,
.newsletter-block .btn-secondary,
.btn-default,
.btn-secondary {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.social-media-block ul.sm-links li {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}
.no-boxshadow,
.search .input-group .form-control,
.search .input-group .btn,
#cart .dropdown-menu,
.checkout .form-control,
.checkout .form-control:focus,
.newsletter-block .form-control,
.newsletter-block .btn-secondary,
.newsletter-block .form-control:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.clearance .thumbnail,
#product-carousel .thumbnail,
.newsletter-block .form-control,
.newsletter-block .form-control:focus {
	border: none;
}
.checkout .form-control {
	-webkit-box-shadow: inset 0 2px 2px #ececec;
	   -moz-box-shadow: inset 0 2px 2px #ececec;
	        box-shadow: inset 0 2px 2px #ececec;
}
.checkout .form-control:focus {
	border-color: #c2c2c2;
	-webkit-box-shadow: inset 0 2px 2px #f3f3f3;
	   -moz-box-shadow: inset 0 2px 2px #f3f3f3;
	        box-shadow: inset 0 2px 2px #f3f3f3;
}
.btn-transparent,
#product-carousel .thumbnail {
	-webkit-transition: all 0.5s ease-in;
	   -moz-transition: all 0.5s ease-in;
	        transition: all 0.5s ease-in;
	height: 320px;
	border: 2px solid #FEC800;
}
#product-carousel .thumbnail .product-zoom,
#product-carousel .thumbnail .caption {
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

/* Starts */

.about1,
.recent-articles,
.testimonial {
	-webkit-transform: skewY(-4deg);
	   -moz-transform: skewY(-4deg);
	        transform: skewY(-4deg);
}
.about,
.products,
.contact {
	position: relative;
}
.products {
	padding-top: 110px;
	padding-bottom: 110px;
}
.about1 > .container,
.recent-articles > .container,
.testimonial > .container {
	-webkit-transform: skewY(4deg);
	   -moz-transform: skewY(4deg);
	        transform: skewY(4deg);
}
.rotate-box-1 {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: 110px;
	-webkit-transform: skewY(-4deg);
	   -moz-transform: skewY(-4deg);
	        transform: skewY(-4deg);
}
.about > .rotate-box-1 {
	top: -59px;
	height: 120px;
}
.about > .rotate-box-1,
.products > .rotate-box-1,
.contact > .rotate-box-1 {
	background-color: #f7f7f7;
}
.products > .rotate-box-1 {
	top: -60px;
}

.heading-title{
    display: block;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.heading-title h2{
    display: inline;
    padding: 10px 0 8px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #FEC800;
}

.heading-title h2 span{
    font-weight: 700;
}

#product-single .carousel-control {
    position: absolute;
    top: 15px;
    left: auto;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    font-size: 16px;
    line-height: 24px;
    color: #aaa;
    text-align: center;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#product-single .carousel-control:hover,
#product-single .carousel-control:focus {
    color: #999;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

#product-single .carousel-control.left {
    right: 50px;
    background: #fff;
    border: 1px solid #cecece;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
}

#product-single .carousel-control.right {
    right: 15px;
    background: #fff;
    border: 1px solid #cecece;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
}

#product-single .home-product-item{
    padding: 10px;
    border: 1px solid transparent;
    overflow: hidden;
}

#product-single .home-product-item:hover{
    border: 1px solid #e6e6e6;
}

.product-single{
    padding: 15px;
    margin-bottom: 20px;
    background: #f1f1f1;
    overflow: hidden;
}

.product-single img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.single-desc table tr td{
    padding: 3px 5px 3px 0;
}

.single-desc .price,
.single-desc .price-old{
    display: inline-block;
    padding: 20px 0;
}

.single-desc .price{
    color: #f89406;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
}

.single-desc .price-old{
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    padding-right: 10px;
}

.single-desc .btn{
    margin-top: 20px;
}

.content-detail{
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-detail .nav-tabs{
    border-bottom-color: #f1f1f1;
}

.content-detail .nav-tabs > li > a {
    margin-right: 2px;
    border: 1px solid #FDC72E;
    background: #FDC72E;
    border-radius: 0;
    color: #fff;
}

.content-detail .nav-tabs > .active > a,
.content-detail .nav-tabs > .active > a:hover,
.content-detail .nav-tabs > .active > a:focus {
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #333;
}

.content-detail .tab-content{
    padding: 20px;
    background: #f1f1f1;
}
.product-item{
    position: relative;
}

.product-item .caption h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-top: 2px solid #333;
    margin-top: 10px;
    padding-top: 10px;
}

.product-item .caption .product-item-price{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.single-desc .btn {
    margin-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #515151;
    border-color: #444;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #222;
}
.about-banners a>div {
	border: 3px solid #FEC800;
	height: 270px;
	overflow: hidden;
	position: relative;
	width: 230px;
}
.about-banners a>div:hover .product-hover{
	display: block !important;
}
.product-hover {
	background-color: rgba(0, 0, 0, 0.45);
	color: #fff;
	left: 0;
	padding: 12px 0;
	position: absolute;
	right: 0;
	top: 40%;
}
.middle-info {
	background-color: #E4E4E4;
	margin-top: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.middle-info h2 {
	font-size: 3em;
	background: url('../images/equis.png') no-repeat left top;
	margin-left: 9%;
	padding-left: 41px;
	text-align: left;
	margin-bottom: 0
}
.product-item a {
	display: inline-block;
	height: 170px;
	overflow: hidden;
}
.thumbnail {
	border: 2px solid #FEC800
}
.product-details strong {
	color: #fff;
	font-size: 1.4em;
}